/*** VALIABLES CSS ***/
:root {
    /* COLOR */
    --overflow: #010101;
    --base: #acacac;
    --surface: #1b1d20;
    --overlay-dark: #2D2F34;
    --overlay-light: #383B40;
    --text-color: #E6E6E6;
    --text-gray: #dddddd;

    /* FONT */
    --body-font: 'Roboto', sans-serif;
    --h1-font: 2.5rem;

    /* MARGIN */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* SIZE */
    --default-size: 500px;
    --small-size: 300px;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--overflow);
    font-family: var(--body-font);
}

@media screen and (max-width: 575px) {
    main {
        max-width: var(--small-size);
    }
    button {
        margin-right: var(--mb-1);
    }
    .automaton-control {
        justify-content: space-around;
    }
    .automaton-field {
        height: var(--small-size);
    }
    .automaton-control__sizes {
        display: none;
    }
    #canvas {
        width: var(--small-size);
        height: var(--small-size);
    }
}

@media screen and (max-width: 325px) {
    body::before {
        content: "Sorry but this app works on displays wider than 325px only :(";
        font-size: 1.5rem;
    }
    #root {
        display: none;
    }
}